{% extends "./base.html" %}

{% block title %} Gestion de cursos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Curso</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarCurso/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" value="{{curso.codigo}}" class="form-control" placeholder="Código" minlength="8" maxlength="9" readonly requiered>
                    </div>
                    <div class="form-group">
                        <input type="number" id="numCreditos" name="numCreditos"  class="form-control" readonly requiered>
                    </div>



                    

                    



                    <div class="form-group"> 
                        <select id="txtNombre" name="txtNombre" class="form-control campo-select" value="{{curso.nombre}}" placeholder="Nombre" maxlength="50" requiered>
                            <option selected>DESARROLLO DE UN CRUD DE 0 A 100 CON DJANGO</option>
                            <option>TECNOLOGÍAS INALÁMBRICAS Y REDES SOCIALES</option>
                            <option>MICROFRAMEWORKS PARA FRONT END</option>
                            <option>DESARROLLO DE INVESTIGACIÓN E INNOVACIÓN</option>
                            <option>ADMINISTRACIÓN DE VERSIONES CON GIT</option>
                            <option>DISEÑO DE PROTOTIPOS DE BAJO NIVEL</option>
                            <option>R EN CIENCIA DE DATOS</option>
                            <option>CREACIÓN DE APLICACIONES CON POWER APPS </option>
                            <option>LENGUAJE DE MODELADO UNIFICADO (UML)</option>
                            <option>IA COMO HERRAMIENTA PARA EL APRENDIZAJE</option>
                            <option>COMUNICACIÓN SERIAL EN ARDUINO</option>
                            <option>ANÁLISIS Y DISEÑO DE SOFTWARE</option>
                            <option>SCRUM</option>
                            <option>ADMINISTRA TUS PROYECTOS CON SW PROJECT</option>
                            <option>HERRAMIENTAS PARA CONTROL DEL TALENTO HUMANO</option>
                            <option>EVALUACIÓN DE ACCESIBILIDAD</option>
                            <option>PROGRAMACIÓN EN OCTAVE</option>
                            <option>CÁLCULO DIFERENCIAL PARA TICS</option>
                            <option>DESARROLLO DE PROYECTOS DE SW CON SCRUM</option>
                            <option>GUERRA DE CODIGO</option>
                            <option>TORNEO SMASH</option>
                            <option>TORNEO FUTBOL VIRTUAL</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}