<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styledos.css">
    <title>Ingeniería Informática</title>
</head>
<body>
    <div class="slider">
        <span><img src="{% static 'imagen/01.jpg' %}"alt=""></span>
        <span><img src="{% static 'imagen/01.jpg' %}"alt=""></span>
        <span><img src="{% static 'imagen/01.jpg' %}"alt=""></span>
        <span><img src="{% static 'imagen/01.jpg' %}"alt=""></span>
        <span><img src="{% static 'imagen/01.jpg' %}"alt=""></span>
        <span><img src="{% static 'imagen/01.jpg' %}"alt=""></span>
        <span><img src="{% static 'imagen/01.jpg' %}"alt=""></span>
    </div>
</body>
</html>